# .gitlab-ci.yml

stages:
  - download
  - run
  - test

download_sassena:
  stage: download
  image: ubuntu:latest
  before_script:
    - apt-get update && apt-get install -y curl
  script: 
    - mkdir -p ./Sassena
    - curl -L https://codebase.helmholtz.cloud/api/v4/projects/6801/packages/generic/sassena/v1.9.2-f31e3882/Sassena_CPU.AppImage -o Sassena/Sassena.AppImage
    - chmod +x ./Sassena/Sassena.AppImage
    - ls -l ./Sassena # https://appimage-builder.readthedocs.io/en/latest/intro/install.html#install-in-a-docker-container
  artifacts:
    paths:
      - "Sassena"

run_sassena:
  stage: run
  image: ubuntu:latest
  allow_failure: true
  dependencies:
    - download_sassena
  before_script:
    - apt-get update && apt-get install -y mpi-default-dev
    - export APPIMAGE_EXTRACT_AND_RUN=1
  script:
    - ./Sassena/Sassena.AppImage --help

test_c2s:
  stage: test
  image: ubuntu:latest
  dependencies:
    - download_sassena
  before_script:
    - apt-get update && apt-get install -y python3 python3-pip 
    - pip3 install pytest
    - pip3 install -r requirements.txt
  script:
    - echo 'python works'
