# .gitlab-ci.yml

stages:
  - build_sassena_stage

install_sassena:
  stage: build_sassena_stage
  image: alpine
  script: 
    - mkdir -p ./Sassena
    - apk add --no-cache wget
    - wget -O ./Sassena/Sassena.AppImage https://codebase.helmholtz.cloud/api/v4/projects/6801/packages/generic/sassena/v1.9.2-f31e3882/Sassena_CPU.AppImage
    - chmod +x ./Sassena/Sassena.AppImage # run sassena
    - ls -l ./Sassena/Sassena.AppImage
  artifacts:
    paths:
      - "Sassena"
