# .gitlab-ci.yml

stages:
  - download
  - run

download_sassena:
  stage: download
  image: alpine:latest
  script: 
    - mkdir -p ./Sassena
    - apk add --no-cache curl
    - curl -L https://codebase.helmholtz.cloud/api/v4/projects/6801/packages/generic/sassena/v1.9.2-f31e3882/Sassena_CPU.AppImage -o Sassena/Sassena.AppImage
    - chmod +x ./Sassena/Sassena.AppImage # run sassena
    - ls -l ./Sassena/Sassena.AppImage
  artifacts:
    paths:
      - "Sassena"

run_sassena:
  stage: run
  image: ubuntu:22.04
  before_script:
    - apt-get update && apt-get
     install -y libfuse2
    - apt-get install libstdc++6
  script:
    - ./Sassena/Sassena.AppImage --help
