# .gitlab-ci.yml

stages:
  - build
  - test

download:
  stage: build
  image: ubuntu:latest
  before_script:
    - apt-get update && apt-get install -y curl
  script: 
    - mkdir -p ./Sassena
    - curl -L https://codebase.helmholtz.cloud/api/v4/projects/6801/packages/generic/sassena/v1.9.2-f31e3882/Sassena_CPU.AppImage -o Sassena/Sassena.AppImage
    - chmod +x ./Sassena/Sassena.AppImage
  artifacts:
    paths:
      - "Sassena"

run_sassena:
  stage: test
  image: ubuntu:latest
  dependencies:
    - download
  before_script:
    - apt-get update && apt-get install -y mpi-default-dev
    - export APPIMAGE_EXTRACT_AND_RUN=1
  script:
    - wget -O Miniforge3.sh "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh"
    - bash Miniforge3.sh -b -p "${HOME}/conda"
    - source "${HOME}/conda/etc/profile.d/conda.sh"
    - conda activate
    - git clone git@codebase.helmholtz.cloud:arnab.majumdar/continuum-to-scattering.git
    - cd continuum-to-scattering
    - export C2S_HOME=$PWD
    - conda env create -f environment.yml
    - conda activate Cont2Sas
    - conda install pytest
    - pytest -v

