# .gitlab-ci.yml

stages:
  - install_sassena_stage # - test_ball

install_sassena:
  stage: install_sassena_stage
  image: python:3.12-alpine
  script: 
    # - mkdir -p ./Sassena
    # - apk add --no-cache wget
    # - wget -O ./Sassena/Sassena.AppImage https://codebase.helmholtz.cloud/api/v4/projects/6801/packages/generic/sassena/v1.9.2-f31e3882/Sassena_CPU.AppImage
    # - chmod +x ./Sassena/Sassena.AppImage # run sassena
    - apt install python3-venv
    - python3 -m venv Cont2Sas
    - source Cont2Sas/bin/activate
    - pip install -r requirements.txt

# test_ball:
#   stage: test_ball
#   image: python:3.12.1  # Use a Docker image with Python
#   before_script:
#     - 
#     - pip install -r requirements.txt
#     - pip install pytest
#     - mkdir -p ./Sassena
#     - wget -O ./Sassena/Sassena.AppImage https://codebase.helmholtz.cloud/api/v4/projects/6801/packages/generic/sassena/v1.9.2-f31e3882/Sassena_CPU.AppImage
#     - chmod +x ./Sassena/Sassena.AppImage # run sassena
#   script:
#     - pytest -v
