# folder (data and non required)
data
garbage
figure
test*
old_scripts

# __pycache__
lib/__pycache__
lib/__init__.pyc
lib/xml_gen.pyc

# images
*.jpg

#tempcode
*tempCodeRunnerFile.py

#xml
xml/*.xml
